{% extends "layout.html" %}

{% block content %}

<div class="container contact">
    <div class="card" style="width: 18rem;">
        <img src="../static/assets/cs50-harvard.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text" style="padding-right:20px;">Email:
                <br>
                <br>
                <button class="btn btn-success"><a href="mailto:ernestoddonado@gmail.com">Contact me</a></button>
            </p>
        </div>
    </div>
</div>
{% endblock content %}